<ons-page>
    <ng-include src="'nav.html'"></ng-include>
    <div style="width: 80%; margin: 60px auto 0;">
        <p>Password Shelf Version 1.0</p>
        <p>
            Password Shelf is a simple program that secures your passwords using encryption
            in a local phone storage. The login / registration is an extra layer of security. In addition,
            this features allows for multiple users or separation of accounts (IE. work or home).
        </p>
    </div>
</ons-page>