<ons-page>
    <ng-include src="'nav.html'"></ng-include>
    <div class="password-form">
        <div id="message" class="{{message.class}}">{{message.message}}</div>
        <input type="text" class="text-input--underbar" placeholder="Details" ng-model="password.details">
        <input type="text" class="text-input--underbar" placeholder="Password" ng-model="password.password">
        <br><br>
        <ons-button modifier="large" class="add-button" ng-click="addPassword();">Add</ons-button>
        <br><br>
        <ons-button modifier="quiet" class="register-button" ng-click="setTitle('Passwords');" onclick="menu.setMainPage('passwords.html')">Back</ons-button>
    </div>
</ons-page>