<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/onsenui.css" />
        <link rel="stylesheet" type="text/css" href="css/onsen-css-components.css"/>
        <link rel="stylesheet" type="text/css" href="css/onsen-css-components-default.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Password Shelf</title>
    </head>
    <body ng-controller="mainController">
        <ons-sliding-menu main-page="login.html" menu-page="menu.html" side="left" max-slide-distance="250px" var="menu"></ons-sliding-menu>

        <ons-template id="menu.html">
            <ons-list>
                <ons-list-item modifier="chevron" ng-click="setTitle('Login');" onclick="menu.setMainPage('login.html', {closeMenu: true})">
                    Login
                </ons-list-item>
                <ons-list-item modifier="chevron" ng-click="setTitle('Register');" onclick="menu.setMainPage('register.html', {closeMenu: true})">
                    Register
                </ons-list-item>
                <ons-list-item modifier="chevron" ng-click="setTitle('About'); menu.setMainPage('about.html', {closeMenu: true})">
                    About
                </ons-list-item>
            </ons-list>
        </ons-template>

        <ons-template id="mainmenu.html">
            <ons-list>
                <ons-list-item modifier="chevron" ng-click="logout(menu); setTitle('Login'); menu.setMainPage('login.html', {closeMenu: true})">
                    Logout
                </ons-list-item>
                <ons-list-item modifier="chevron" ng-click="setTitle('Passwords');" onclick="menu.setMainPage('passwords.html', {closeMenu: true})">
                    Passwords
                </ons-list-item>
                <ons-list-item modifier="chevron" ng-click="setTitle('Add New Password');" onclick="menu.setMainPage('addpassword.html', {closeMenu: true})">
                    Add New Password
                </ons-list-item>
                <ons-list-item modifier="chevron" ng-click="setTitle('About'); menu.setMainPage('about.html', {closeMenu: true})">
                    About
                </ons-list-item>
            </ons-list>
        </ons-template>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/angular/angular.js"></script>
        <script type="text/javascript" src="js/onsenui.js"></script>
        <script type="text/javascript" src="js/crypto/aes.js"></script>
        <script type="text/javascript" src="js/crypto/sha256.js"></script>
        <script type="text/javascript">
            var db = null;
            ons.bootstrap()
            .controller('mainController', function($rootScope, $scope, $timeout) {
                $scope.title = "Login";
                $scope.message = {"message":"","class":""};
                $scope.setTitle = function(title){
                    $scope.title = title;
                    $scope.message = {"message":"","class":""};
                }
                $scope.passwords = [];
                $scope.password = {'id':'','details':'','password':''};
                $scope.user = {'id':'','name':'','password':''};
                $scope.deletePassword = function(id, index) {
                    db.transaction(
                        function(tx){
                            tx.executeSql('DELETE FROM passwords WHERE id = ?',[id]);
                            $scope.passwords.splice(index, 1);
                            $scope.$apply();
                        },
                        errorCB,
                        successCB
                    )
                }
                $scope.addPassword = function() {
                    if(!$scope.password.details.length || !$scope.password.password.length) {
                        $scope.message = {"message":"FAILED!","class":"error"};
                        $scope.$apply();
                        return false;
                    }
                    db.transaction(
                        function(tx){
                            var encrypted = CryptoJS.AES.encrypt($scope.password.password, $scope.user.password);
                            tx.executeSql('INSERT INTO passwords (userid,details,password) VALUES (?,?,?)',[$scope.user.id,$scope.password.details,encrypted],
                                function(tx, results){
                                    $scope.password.id = results.insertId;
                                },
                                errorCB
                            );
                            $scope.passwords.push($scope.password);
                            $scope.message = {"message":"Password added.","class":"success"};
                            $scope.password = {'id':'','details':'','password':''};
                            $scope.$apply();
                        },
                        errorCB,
                        successCB
                    )
                }
                $scope.login = function(menu) {
                    if(!$scope.user.name.length || !$scope.user.password.length) {
                        $scope.message = {"message":"FAILED!","class":"error"};
                        $scope.$apply();
                        return false;
                    }
                    var hash = CryptoJS.SHA256($scope.user.password);
                    db.transaction(
                        function(tx){
                            tx.executeSql('SELECT * FROM users WHERE name = ? AND password = ?',[$scope.user.name,hash.toString(CryptoJS.enc.Base64)],function(tx,results){
                                if (results.rows.length == 0) {
                                    $scope.message = {"message":"FAILED!","class":"error"};
                                    $scope.$apply();
                                    return false;
                                }
                                $scope.message = {"message":"","class":""};
                                $scope.user.id = results.rows.item(0).id;
                                $scope.user.name = results.rows.item(0).name;
                                tx.executeSql('SELECT * FROM passwords WHERE userid = ?',[$scope.user.id],function(tx,results){
                                    if (results.rows.length == 0) {
                                        return false;
                                    }
                                    for(var i = 0; i < results.rows.length; i++) {
                                        var password = $scope.password;
                                        password.id = results.rows.item(i).id;
                                        password.details = results.rows.item(i).details;
                                        var decrypted = CryptoJS.AES.decrypt(results.rows.item(i).password, $scope.user.password);
                                        password.password = decrypted.toString(CryptoJS.enc.Utf8);
                                        $scope.passwords.push(password);
                                        $scope.password = {'id':'','details':'','password':''};
                                    }
                                },errorCB);
                                $scope.title = "Passwords";
                                menu.setMainPage('passwords.html');
                                menu.setMenuPage('mainmenu.html');
                            },errorCB);
                        },
                        errorCB,
                        successCB
                    )
                };
                $scope.register = function() {
                    if(!$scope.user.name.length || !$scope.user.password.length) {
                        $scope.message = {"message":"FAILED!","class":"error"};
                        $scope.$apply();
                        return false;
                    }
                    db.transaction(
                        function(tx){
                            tx.executeSql('SELECT * FROM users WHERE name = ?',[$scope.user.name],function(tx,results){
                                if (results.rows.length > 0) {
                                    $scope.message = {"message":"User exists!","class":"error"};
                                    $scope.$apply();
                                    return false;
                                }
                                var hash = CryptoJS.SHA256($scope.user.password);
                                tx.executeSql('INSERT INTO users (name,password) VALUES (?,?)',[$scope.user.name,hash.toString(CryptoJS.enc.Base64)]);
                                $scope.message = {"message":"Registered! Login now.","class":"success"};
                                $scope.$apply();
                            },errorCB);
                        },
                        errorCB,
                        successCB
                    )
                };
                $scope.logout = function(menu) {
                    $scope.passwords = [];
                    $scope.password = {'id':'','details':'','password':''};
                    $scope.user = {'id':'','name':'','password':''};
                    menu.setMainPage('login.html');
                    menu.setMenuPage('menu.html');
                };
            });
            ons.ready(function() {
                db = window.openDatabase("PasswordLocker", "1.0", "PasswordLocker", 200000);
                db.transaction(populateDB, errorCB, successCB);
            });
            function populateDB(tx) {
                //tx.executeSql('DROP TABLE IF EXISTS users');
                //tx.executeSql('DROP TABLE IF EXISTS passwords');
                tx.executeSql('CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY AUTOINCREMENT, name VARCHAR, password VARCHAR)');
                tx.executeSql('CREATE TABLE IF NOT EXISTS passwords (id INTEGER PRIMARY KEY AUTOINCREMENT, userid INTEGER, details VARCHAR, password VARCHAR)');
            }
            function errorCB(tx, err) {
                alert("Error processing SQL: "+err);
            }
            function successCB() {

            }
            var app = {
                initialize: function() {
                    this.bindEvents();
                },
                // 'load', 'deviceready', 'offline', and 'online'.
                bindEvents: function() {
                    document.addEventListener('deviceready', this.onDeviceReady, false);
                },
                onDeviceReady: function() {

                }
            };
            app.initialize();
        </script>


    </body>
</html>
