<ons-page>
    <ng-include src="'nav.html'"></ng-include>
    <div class="login-form">
        <div id="message" class="{{message.class}}">{{message.message}}</div>
        <input type="text" class="text-input--underbar" placeholder="Name" ng-model="user.name">
        <input type="password" class="text-input--underbar" placeholder="Password" ng-model="user.password">
        <br><br>
        <ons-button modifier="large" class="login-button" ng-click="login(menu);">Log In</ons-button>
        <br><br>
        <ons-button modifier="quiet" class="register-button" ng-click="setTitle('Register');" onclick="menu.setMainPage('register.html')">Register</ons-button>
    </div>
</ons-page>