<ons-toolbar>
    <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">{{title}}</div>
</ons-toolbar>
