<ons-page>
    <ng-include src="'nav.html'"></ng-include>
    <ons-list>
        <ons-list-item style="padding: 10px;" ng-repeat="item in passwords">
            <ons-list-header>{{item.details}}</ons-list-header>
            <ons-carousel style="height: 44px; width: 100%" swipeable initial-index="0" auto-scroll>
                <ons-carousel-item>
                    {{ item.password }}
                </ons-carousel-item>
                <ons-carousel-item>
                    <ons-button modifier="small" class="delete-button" ng-click="deletePassword(item.id,$index);">Delete</ons-button>
                </ons-carousel-item>
            </ons-carousel>
        </ons-list-item>
    </ons-list>
</ons-page>