<ons-page>
    <ng-include src="'nav.html'"></ng-include>
    <div class="register-form">
        <div id="message" class="{{message.class}}">{{message.message}}</div>
        <input type="text" class="text-input--underbar" placeholder="Name" ng-model="user.name">
        <input type="password" class="text-input--underbar" placeholder="Password" ng-model="user.password">
        <br><br>
        <ons-button modifier="large" class="register-button" ng-click="register();">Register</ons-button>
        <br><br>
        <ons-button modifier="quiet" class="login-button" ng-click="setTitle('Login'); menu.setMainPage('login.html')">Login</ons-button>
    </div>
</ons-page>
